body{
	background-color: grey;
}
#intro:hover{
text-decoration: none;
}
.button {
	background-color: #4CAF50;
    border: none;
   /* color: white;*/
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;}
.button1 {background-color: purple; color: darkgray; border: 2px solid purple; font-size:18px;}
.button1:hover{background-color: #c0c0c0; color: purple; text-decoration: none;}

.thin-white-border {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    height: 50px;
    width: 50px;
	background-size: contain;
  }
.linkedLogo{
    background-image: url(https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/linked_in_online_social_media-128.png); }
.linkedLogo:hover{
 	background-image: url(https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_linked_in-128.png);
 }
.githubLogo{
    background-image: url(https://cdn1.iconfinder.com/data/icons/logotypes/32/github-128.png); }
.githubLogo:hover{
	background-image: url(https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_circle_gray-128.png);
}
.twitterLogo{
 	background-image: url(https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/twitter_online_social_media-128.png); }
.twitterLogo:hover{
	background-image: url(https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_twitter-128.png);
}
.flickerLogo{
    background-image: url(https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_flickr-128.png);}
.flickerLogo:hover{
	background-image: url(https://cdn2.iconfinder.com/data/icons/social-solid/512/Flickr-128.png);
}

.inputBox{
    background-color : #F7F778; 
    border: 1px solid #848484; 
    height:25px; 
    width: 275px;
}
.textbox
{ 
    height: 25%; 
    width: 100%; 
    background-color: transparent;  
    border-style: solid;  
    border-width: 0px 0px 1px 0px;  
    border-color: darkred; 
  }
textarea{
	resize: vertical;
}
*{
    font-family: monospace;
}
a{
    text-decoration: none;
}
