body{
	background-color: grey;
}
#intro:hover{
text-decoration: none;
}
.button {
	background-color: #4CAF50;
    border: none;
   /* color: white;*/
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;}
.button1 {background-color: purple; color: darkgray; border: 2px solid purple; font-size:18px;}
.button1:hover{background-color: #c0c0c0; color: purple; text-decoration: none;}

.thin-white-border {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    height: 50px;
    width: 50px;
	background-size: contain;
  }
.linkedLogo{
    background-image: url(images/linkedIn.jpg); }
.linkedLogo:hover{
 	background-image: url(images/linkedInHover.jpg);
 }
.githubLogo{
    background-image: url(images/git.jpg); }
.githubLogo:hover{
	background-image: url(images/gitHover.jpg);
}
.twitterLogo{
 	background-image: url(images/twitter.jpg)}
.twitterLogo:hover{
	background-image: url(images/twitterHover.jpg);
}
.flickerLogo{
    background-image: url(images/flicker.jpg);}
.flickerLogo:hover{
	background-image: url(images/flickerHover.jpg);
}

.inputBox{
    background-color : #F7F778; 
    border: 1px solid #848484; 
    height:25px; 
    width: 275px;
}
.textbox
{ 
    height: 25%; 
    width: 100%; 
    background-color: transparent;  
    border-style: solid;  
    border-width: 0px 0px 1px 0px;  
    border-color: darkred; 
  }
textarea{
	resize: vertical;
}
.largeGlyph{
    font-size:75px; color:black;
}
*{
    font-family: monospace;
}
a{
    text-decoration: none;
}
